.outer {
  padding-left: 8px;
  padding-right: 12px;
}

.inner {
  position: relative;
  border-left: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
  padding-bottom: 16px;
  padding-left: 16px;

  &.last {
    border-left-color: transparent;
    padding-bottom: 0;
  }
}

.icon {
  position: absolute;
  left: -8px;
  top: 2px;
  display: flex;
  align-items: center;
  background-color: var(--center-channel-bg);
  
  svg {
    fill: rgba(var(--center-channel-color-rgb), 0.64);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--center-channel-color);
}

.detail {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(var(--center-channel-color-rgb), 0.75);
}
