.entityHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.entityInitials {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: rgba(var(--center-channel-color-rgb), 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Metropolis', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(var(--center-channel-color-rgb), 0.75);
}

.entityText {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.title {
  font-family: 'Metropolis', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--center-channel-color);
}

.entitySubtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--center-channel-color);
}

.entityChip {
  flex-shrink: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: var(--center-channel-color);
  background-color: rgba(var(--center-channel-color-rgb), 0.08);
  padding: 4px 10px;
  border-radius: 4px;

  &.entityChipSuccess {
    background-color: rgba(51, 153, 112, 0.08);
    color: rgba(51, 153, 112, 1);
  }

  &.entityChipDanger {
    background-color: rgba(210, 75, 78, 0.1);
    color: rgba(210, 75, 78, 1);
  }

  &.entityChipWarning {
    background-color: rgba(188, 126, 33, 0.1);
    color: rgba(188, 126, 33, 1);
  }
}
